<p class="field">
  <label for="<%= "#{param_prefix}_preferred_quantity" %>">
    <%= select_tag "#{param_prefix}[preferred_operator]", options_for_select(Spree::Promotion::Rules::ProductBuyTaxonQuantity::OPERATORS.map{|o| [t("item_total_rule.operators.#{o}"),o]}, promotion_rule.preferred_operator) %>
    <%= text_field_tag "#{param_prefix}[preferred_quantity]", promotion_rule.preferred_quantity, :size => 10 %>
  </label>

  <label for="<%= "#{param_prefix}_preferred_taxon" %>">
    <%= "Taxon" %><br />
  	<%= text_field_tag "#{param_prefix}[preferred_taxon]", '', :class => "taxons_rules_selector" %>
  	<% if !promotion_rule.preferred_taxon.blank? && promotion_rule.preferred_taxon.to_i != 0 %>
  		<br /><br /><%= "Current Taxon -> " %><%= Spree::Taxon.find(promotion_rule.preferred_taxon).name %>
  	<% end %>
  </label>
</p>
<script type="text/javascript">
  enable_taxons_search();
</script>