<p class="field">
  <label for="<%= "#{param_prefix}_preferred_taxon" %>">
    <%= "Taxon" %><br />
  	<%= text_field_tag "#{param_prefix}[preferred_taxon]", '', :class => "taxons_rules_selector" %>
  	<% if !promotion_rule.preferred_taxon.blank? && promotion_rule.preferred_taxon.to_i != 0 %>
  		<br /><br /><%= "Current Taxon -> " %><%= Spree::Taxon.find(promotion_rule.preferred_taxon).name %>
  	<% end %>
  </label>
</p>
<script type="text/javascript">
  enable_taxons_search();
</script>